@media screen and (min-width: 1128px) {
  .container {
    width: 1128px;
  }
  .hero-fon {
    width: 1200px;
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/people-office.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-fon {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../img/people-office-2x.jpg");
    }
  }
  .header-contacts {
    gap: 40px;
    flex-direction: unset;
  }
  .middle {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .middle-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .block-svg {
    background: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .middle-list {
    flex-wrap: nowrap;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers > .container {
    width: 1128px;
  }
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .footer-text {
    width: 264px;
  }
  .exp {
    margin-left: 120px;
    margin-right: 80px;
    margin-bottom: unset;
  }
  .exp-top {
    padding-left: unset;
    margin-left: unset;
    margin-bottom: unset;
  }
  .footer > .container {
    width: 1158px;
    align-items: baseline;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-flex {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
  }
  .soc-title-footer {
    margin-left: unset;
  }
  .footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .soc-form {
    margin-left: unset;
  }
  .footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
