:root {
  --primay-brand: #4d5ae5;
  --dark: #2e2f42;
  --text: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --white: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol,
ul {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "roboto", sans-serif;
  color: var(--text);
}
.container {
  margin: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* --------------HEADER-------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
}
/* ---logo----  */
.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  font-family: "Raleway";
}
.logo-part {
  color: var(--primay-brand);
}
/* ---navigation--- */
.main-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
  padding: 0;
}
.header-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-link.carrent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  left: 0;
  bottom: -28px;
}
.carrent {
  color: var(--primay-brand);
}
.header-link:hover,
.header-link:focus {
  color: var(--primay-brand);
}
.header-contacts {
  display: flex;
  gap: 40px;
  padding: 0;
  margin-left: auto;
}

.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--primay-brand);
}

/* ---------------MAIN------------------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.main-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.main-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primay-brand);
  background-color: var(--cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  height: 48px;
  padding: 8px 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  color: var(--white);
  background-color: var(--primay-brand);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.portfolio-top-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  padding: 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-link:hover .portfolio-top-text,
.portfolio-link:focus .portfolio-top-text {
  transform: translateY(0);
}
.portfolio-item {
  background-color: var(--white);
  max-width: 360px;
}

.portfoli-item-text {
  border: 1px solid #e7e9fc;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-top: 0;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.potfolio-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* -----------------FOOTER------------------ */
.footer {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  font-family: "Raleway";
}
.logo-part-ftr {
  color: var(--primay-brand);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
  max-width: 264px;
  margin-top: 16px;
}
.footer-sc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 8px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-flex {
  display: flex;
}
.exp {
  margin-left: 120px;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.soc-footer {
  margin-left: 80px;
}
.soc-form {
  display: flex;
}
.soc-title-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.soc-btn-footer {
  background: #4d5ae5;
  border-radius: 4px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  height: 40px;
  width: 165px;
  margin-left: 24px;
  padding: 8px 24px;
  display: flex;
  gap: 16px;
  border: none;
}
.soc-icon {
  fill: #ffffff;
}
.input-soc-footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  background-color: transparent;
  height: 40px;
  padding-left: 16px;
  outline: none;
}

/* -------------------The-main-page--------------------- */
.main-page-hello {
  background-color: var(--dark);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}
.hero-fon {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.main-page-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--primay-brand);
  border: none;
  cursor: pointer;
  margin-top: 48px;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-page-btn:hover,
.main-page-btn:focus {
  color: var(--white);
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.middle {
  padding-top: 120px;
  padding-bottom: 120px;
}
.icon-middle-svg {
  display: flex;
  gap: 24px;
}
.block-svg {
  background: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.middle-list {
  display: flex;
  gap: 24px;
}
.middle-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.middle-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  max-width: 264px;
}
.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.photo-gadgets {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.middle-two {
  padding-bottom: 120px;
}
.team {
  background: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--white);
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
}
.team-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.team-item-text {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}
.customers {
  padding-top: 128px;
  padding-bottom: 120px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.customers-block {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
.customers-item {
  width: calc((100%-120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: #404bbf;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 350ms linear, visibility 350ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms linear;
  padding: 72px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: auto; */
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close:hover .close-svg,
.modal-close:focus .close-svg {
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* margin-top: 24px; */
  margin-bottom: 14px;
}
.modal-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: inline-block;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding-left: 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}
.modal-input:focus + .input-modal-icon {
  fill: #4d5ae5;
}
.input-modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field {
  margin-bottom: 8px;
}
.modal-wrap {
  position: relative;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-top: 8px;
  padding-left: 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:focus {
  border: 1px solid #4d5ae5;
}
.check-text {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  align-items: center;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #2e2f42;
  border-radius: 3px;
  display: block;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text::before {
  background-color: #404bbf;
  border: none;
  background-image: url(../img/radio.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.btn-send {
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin: 0 auto;
  display: block;
  margin-top: 24px;
  cursor: pointer;
}
