@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .hero-fon {
    width: 768px;
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/tablet-bg.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-fon {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../img/tablet-bg-2x.jpg");
    }
  }
  .menu-open {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .header-list {
    display: flex;
    gap: 40px;
    padding: 0;
  }
  .header-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .header-link.carrent::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -28px;
  }
  .carrent {
    color: var(--primay-brand);
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--primay-brand);
  }
  .customers > .container {
    width: 552px;
  }
  .header-contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    margin-left: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .middle-list {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .middle-item {
    width: calc((100% - 30px) / 2);
  }
  .middle-two {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }
  .team-photo {
  }
  .team-list {
    gap: 64px 24px;
    flex-wrap: wrap;
  }
  .team-item {
    width: calc((100%-30px) / 2);
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100% - 60px) / 3);
  }
  .footer-flex {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
  }
  .exp {
    margin-left: 24px;
    margin-bottom: 100px;
  }
  .footer-sc-title {
    margin-bottom: 16px;
    text-align: unset;
  }
  .footer-logo {
    justify-content: start;
    margin-bottom: 16px;
  }
  .soc-form {
    display: flex;
    flex-direction: unset;
    margin-left: 12px;
  }
  .input-soc-footer {
    width: 264px;
  }
  .soc-title-footer {
    text-align: unset;
    margin-left: 12px;
  }
  .soc-btn-footer {
    margin-top: unset;
    margin-left: 24px;
  }
  .footer > .container {
    width: 552px;
  }
}
